__pycache__/
*.py[cod]
*.sqlite3
*.log
*.env
.env.*
db.sqlite3
/staticfiles/
/media/
/__pycache__/
/*.pyc
*.pyo
*.pyd
*.DS_Store
*.egg-info/
.eggs/
*.egg
.Python
*.tar.gz
*.bak
.env
.vscode/
.idea/
*.swp